* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--bg-color);
  height: 100vh;
}

header.title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.title div.container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

header.title div.container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: center;
  color: var(--link-color);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  font-family: var(--links-font);
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

header.title div.container a:hover {
  color: var(--linkhover-lightcolor);
}

header.title div.container h1.page_title {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 30px;
}

section.settings-editor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

section.settings-editor div.wrapper {
  width: 100%;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

section.settings-editor div.wrapper div.slots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

section.settings-editor div.wrapper div.return_time-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

section.settings-editor div.wrapper span {
  text-transform: uppercase;
  background: var(--tablecell-darkcolor);
  padding: 10px;
  width: 400px;
  text-align: center;
}

section.settings-editor div.wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

section.settings-editor div.wrapper form input[type=text] {
  padding: 5px;
  font-family: var(--header-font);
  font-size: 16px;
}

section.settings-editor div.wrapper form input[type=submit] {
  color: var(--link-lightcolor);
  text-decoration: none;
  font-size: 15px;
  font-family: var(--links-font);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--linkhover-color);
  background: var(--linkhover-color);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: center;
}

section.settings-editor div.wrapper form input[type=submit]:hover {
  background: var(--linkhover-lightcolor) !important;
  border: 1px solid var(--linkhover-lightcolor) !important;
}

section.settings-editor div.wrapper select {
  text-align: center;
}

section.settings-editor div.wrapper select option {
  font-size: 15px;
}
/*# sourceMappingURL=setting.css.map */