* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.book_overview {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
}

section.book_overview div.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

section.book_overview div.section-wrapper div.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-darkcolor);
  margin: 20px 0;
  height: 80px;
}

section.book_overview div.section-wrapper div.section-title h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  border-top: 3px solid #616161;
  border-bottom: 3px solid #616161;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

section.book_overview div.document-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

section.book_overview div.document-container div.document-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: var(--section-container);
  border-radius: 5px;
}

section.book_overview div.document-container div.document-info div.document_image_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  gap: 15px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.book_overview div.document-container div.document-info div.document_image_title div.image-container img {
  width: 300px;
  height: 420px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.book_overview div.document-container div.document-info div.document_image_title div.image-container div.document-details {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  gap: 10px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.image-container div.document-details h3 {
  padding: 10px 0;
  margin-top: 10px;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.image-container div.document-details span {
  font-family: var(--paragraph-font);
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 420px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author h2 {
  font-size: 25px;
  font-family: var(--header-font);
  text-transform: uppercase;
  text-align: center;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author span {
  text-transform: uppercase;
  font-family: var(--header-font);
  font-size: 18px;
  text-align: center;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author div.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author div.stars i {
  color: white;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  padding: 5px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author div.stars i:hover,
section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.title-author div.stars i:hover ~ i {
  color: yellow;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title p {
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 15px;
  line-height: 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.buttons button {
  color: var(--link-lightcolor);
  text-decoration: none;
  font-size: 16px;
  font-family: var(--links-font);
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid var(--linkhover-color);
  background: var(--linkhover-color);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: center;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.buttons button i {
  padding: 0 5px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.buttons button:hover {
  background: var(--linkhover-lightcolor) !important;
  border: 1px solid var(--linkhover-lightcolor);
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.document-keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  gap: 10px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.document-keywords h3 {
  padding: 10px 0;
  margin-top: 10px;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.document-keywords div.keywords-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

section.book_overview div.document-container div.document-info div.document_image_title div.document-title div.document-keywords div.keywords-wrapper span {
  font-family: var(--paragraph-font);
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

section.book_overview div.document-container div.document-reviews {
  background: var(--section-container);
  width: 80%;
  border-radius: 5px;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper {
  background: var(--section-container-light);
  margin: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.stars {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 400px;
  background: var(--section-container-dark);
  overflow-y: auto;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user {
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  width: 90%;
  background: var(--section-container-light);
  border-radius: 10px;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user div.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user div.user-ratings-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user div.user-ratings-comments h4 {
  text-transform: uppercase;
  text-align: center;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user div.user-ratings-comments div.stars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper div.user div.user-ratings-comments p {
  text-align: center;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper::-webkit-scrollbar {
  width: .5em;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper::-webkit-scrollbar-track {
  background: none;
  margin: .5em 0;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 100vw;
}

section.book_overview div.document-container div.document-reviews div.comments_reviews_wrapper div.reviews div.comments-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hovercolor);
}
/*# sourceMappingURL=book_overview.css.map */