* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg-color);
}
section.bookmarked_documents {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
  
    div.section-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      width: 100%;
  
      div.section-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: var(--text-darkcolor);
        margin: 30px 0 10px 0;
        height: 40px;
  
        h2 {
          text-transform: uppercase;
          font-family: var(--header-font);
          font-weight: 700;
          font-size: 25px;
          letter-spacing: 1px;
          word-spacing: 2px;
        }
      }
    }

    .bookmark {
        margin: 0 0 20px 0;
        width: 100%;
        max-width: 1200px;
  
        .bookmark-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          animation: fadeVisibility 0.5s;
          position: relative;
          z-index: 1;
  
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: auto;
            background: var(--image-container);

            i {
              padding: 5px;
              align-self: flex-end;
              font-size: 15px;
              cursor: pointer;
              transition: .2s ease-in-out;
            }
            i:hover {
              color: var(--linkhover-color);
            }
            img {
              object-fit: cover;
              width: 80%;
              height: 200px;
              margin: 0 0 20px 0;
            }
            a {
              width: 80%;
              text-align: center;
              color: var(--link-lightcolor);
              text-decoration: none;
              font-size: 16px;
              font-family: var(--links-font);
              font-weight: 600;
              padding: 5px 10px;
              border-radius: 5px;
              border: 1px solid var(--linkhover-color);
              background: var(--linkhover-color);
              margin-bottom: 10px;
              transition: 0.2s ease-in-out;
            }
            a:hover {
              background: var(--linkhover-lightcolor) !important;
              border: 1px solid var(--linkhover-lightcolor);
            }
          }
        }
      }
}