* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var("white");
}

section.user_profile {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

section.user_profile div.section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

section.user_profile div.section-wrapper div.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--text-darkcolor);
    margin: 30px 0 10px 0;
    height: 40px;
}

section.user_profile div.section-wrapper div.section-title h2 {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

section.user_profile div.edit-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

section.user_profile div.edit-account div.img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
    gap: 15px;
}

section.user_profile div.edit-account div.img-wrapper img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section.user_profile div.edit-account div.img-wrapper h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--header-font);
    letter-spacing: 1px;
    word-spacing: 1px;
}

section.user_profile div.edit-account form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

section.user_profile div.edit-account form i {
    position: absolute;
    right: 0;
    padding: 10px;
    text-align: center;
    display: none;
}

section.user_profile div.edit-account form i.show {
    display: unset;
}

section.user_profile div.edit-account form div {
    width: 100%;
    position: relative;
}

section.user_profile div.edit-account form div input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

section.user_profile div.edit-account form input[type=submit] {
    margin-top: 20px;
    width: 100%;
    color: var(--link-lightcolor);
    text-decoration: none;
    font-size: 14px;
    font-family: var(--links-font);
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid var(--linkhover-color);
    background: var(--linkhover-color);
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    text-align: center;
}

section.user_profile div.edit-account form input[type=submit]:hover {
    background: var(--linkhover-lightcolor) !important;
    border: 1px solid var(--linkhover-lightcolor) !important;
}


/*# sourceMappingURL=change_password.css.map */