* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var("white");
}

section.user_profile {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

section.user_profile div.section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

section.user_profile div.section-wrapper div.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--text-darkcolor);
    margin: 30px 0 10px 0;
    height: 40px;
}

section.user_profile div.section-wrapper div.section-title h2 {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

section.user_profile div.profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    max-width: 1200px;
    width: 100%;
}

section.user_profile div.profile-container div.image-container {
    width: 55%;
    height: 100%;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

section.user_profile div.profile-container div.image-container img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
}

section.user_profile div.profile-container div.name {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    margin: 25px 0 25px 30px;
    background: var(--section-container);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section.user_profile div.profile-container div.name div.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--section-container-dark);
    width: 90%;
    height: 90%;
    gap: 15px;
}

section.user_profile div.profile-container div.name div.wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

section.user_profile div.profile-container div.name div.wrapper h3 {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}

section.borrowed_documents {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

section.borrowed_documents div.section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

section.borrowed_documents div.section-wrapper div.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--text-darkcolor);
    margin: 30px 0 10px 0;
    height: 40px;
}

section.borrowed_documents div.section-wrapper div.section-title h2 {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

section.borrowed_documents .borrowed_docs-list {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 1200px;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-animation: fadeVisibility 0.5s;
    animation: fadeVisibility 0.5s;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs {
    position: relative;
    z-index: 1;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: auto;
    background: var(--image-container);
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs div img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 80%;
    height: 200px;
    margin: 20px 0;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs div a {
    width: 80%;
    text-align: center;
    color: var(--link-lightcolor);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--links-font);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--linkhover-color);
    background: var(--linkhover-color);
    margin-bottom: 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

section.borrowed_documents .borrowed_docs-list .carousel-borrowed_docs .carousel__borrowed_docs div a:hover {
    background: var(--linkhover-lightcolor) !important;
    border: 1px solid var(--linkhover-lightcolor);
}


/*# sourceMappingURL=user_profile.css.map */